body {
    margin: 0;
    padding: 0px;
    background: #273549;
}

.container{
    display: block;
    margin: auto;
    max-width: 700px;
    padding: 30px;
    color: white;
}

.second-title{
    color: #d22;
}

#length-el{
    color: #d22;
    font-weight: bold;
}
::placeholder {
   text-align: center; 
}
button{
    display: block;
    color: white;
    background: #d22;
    border-radius: 5px;
    padding: 5px 10px;
    border: none
}
.inputs {
    display: grid;
    grid-template-rows: repeat(2, 1fr); 
    grid-template-columns: repeat(2, 1fr); 
    padding-right: 20px;
    grid-column-gap: 10px;
    border-top: 2px solid black;
    margin: 20px 3px;
    align-content: center;
    color: #d22; 
    font-weight: bold
}

.pw-box{
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
    align-items: center;
    padding: 10px 0px;
}

@media screen and (max-width: 400px) {
    .inputs {
        grid-template-rows: auto; 
        grid-template-columns: 1fr; 
    }
    
    .container {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    }
}